@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@400;500;700&display=swap");

:root {
  --ff-primary: "Inter";
  --clr-primary: #3acf6e;
  --clr-primary-2: #1c57c9;
  --clr-primary-3: #2053d1;
  --clr-light: #fff;
  --clr-black: #000;
  --clr-dark: #262b36;
  --clr-gray: #606b86;
  --max-width-desktop: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-dark);
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.container {
  width: 90%;
  max-width: 1192px;
  margin: 0 auto;
}

/*Hero Section*/
.hero {
  height: 840px;
  background: url(./images/background.png);
  background-repeat: no-repeat;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.25rem 0 3.875rem;
}

.main-nav {
  display: flex;
  align-items: center;
}

.navmenu {
  margin: 0px;
  list-style: none;
  display: flex;
}

.navmenu a {
  text-decoration: none;
}
.navmenu a:hover {
  opacity: 60%;
}

.main-nav .nav-link {
  margin-left: 3.75em;
  color: #fff;
  opacity: 40%;
}

.sub-nav .nav-item {
  margin-left: 2.625em;
}
.sub-nav .nav-link {
  font-size: 13px;
}

.nav-item .active {
  opacity: 100%;
}

.brand-highlight {
  color: var(--clr-primary);
}

.hero-content {
  display: flex;
  justify-content: space-between;
}

.hero-leftside {
  display: flex;
  flex-direction: column;
  width: 37.5rem;
  justify-content: space-around;
}

.hero-leftside > * {
  color: var(--clr-light);
}

.hero-leftside h1 {
  font-size: 3.5rem;
  line-height: 1.345em;
  font-weight: 700;
}

.hero-leftside p {
  font-size: 1.25rem;
  line-height: 1.6em;
}

.btn {
  height: 3rem;
  width: 8.75rem;
  color: var(--clr-light);
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-right: 1.25rem;
  /* font-weight: 700; */
}

.btn-primary {
  background: var(--clr-primary);
}

.btn-secondary {
  background: transparent;
  border: 1px solid var(--clr-light);
}

.hero-rightside {
  background: pink;
  background: url(./images/img.png);
  height: 540px;
  width: 440px;
  border-radius: 24px;
  background-position: top;
}

img.rightside-corner {
  height: 256px;
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

/*Features section*/

/* Features Section */

#features {
  min-height: 72rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features .starter-paragraph {
  font-size: 1.25rem;
  line-height: 1.6em;
  color: var(--clr-gray);
  margin: 8rem 0;
  width: 85%;
}

.features-body {
  display: flex;
  align-items: center;
  gap: 5.375rem;
}

.features-body .features-secondary-title {
  color: var(--clr-primary-3);
  letter-spacing: 0.625em;
  text-transform: uppercase;
}

.features-body .features-main-title {
  font-size: 2.625rem;
  color: var(--clr-dark);
  margin-top: 1.125rem;
  margin-bottom: 1.625rem;
}

.section-paragraph {
  font-size: 1.125rem;
  line-height: 1.556rem;
  color: var(--clr-gray);
  padding-right: 1rem;
  margin-bottom: 3.125rem;
}

.features-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.features-cards .features-card {
  width: 45%;
}

.features-cards .features-card img {
  width: 100%;
}

/* Updates Section */

#updates {
  height: 69rem;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 5rem;
}

.updates-body {
  display: flex;
  align-items: start;
  gap: 5.375rem;
}

.updates-body .updates-left {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.updates-body .updates-secondary-title {
  color: var(--clr-primary-3);
  letter-spacing: 0.625em;
  text-transform: uppercase;
  margin: 3rem 0 1.25rem;
}

.updates-body .updates-main-title {
  font-size: 2.625rem;
  color: var(--clr-dark);
  margin-bottom: 4rem;
}

.updates-body .updates-right {
  width: 45%;
}

.updates-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 50%;
  height: 69rem;
  background-color: var(--clr-primary-2);
  border-bottom-left-radius: 11.875rem;
}

.updates-cards {
  height: 69rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.875rem;
}

.updates-cards .updates-card {
  width: 100%;
}

.updates-cards .updates-card img {
  width: 100%;
}

/* Services */

#services {
  min-height: 80vh;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 5rem;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(236, 240, 247, 1) 100%
  );
}

.services-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-body .services-secondary-title {
  color: var(--clr-primary-3);
  letter-spacing: 0.625em;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.services-body .services-main-title {
  font-size: 2.625rem;
  color: var(--clr-dark);
  margin-bottom: 1.25rem;
}

#services img {
  margin: 2rem 0 5rem;
}

/*Media Queries*/

@media screen and (min-width: 1441px) {
  .container {
    width: 80%;
    max-width: unset !important;
  }
}
