@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@400;500;700&display=swap");

:root {
  --ff-primary: "Inter";
  --clr-primary: #3acf6e;
  --clr-primary-2: #1c57c9;
  --clr-light: #fff;
  --clr-black: #000;
  --clr-dark: #262b36;
  --clr-gray: #606b86;
  --max-width-desktop: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-dark);
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.hero {
  height: 840px;
  background: url(./images/background.png);
  position: relative;
}

.container {
  width: 90%;
  max-width: 1192px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.25rem 0 3.875rem;
}

.main-nav {
  display: flex;
  align-items: center;
}

.navmenu {
  margin: 0px;
  list-style: none;
  display: flex;
}

.navmenu a {
  text-decoration: none;
}

.main-nav .nav-link {
  margin-left: 3.75em;
  color: #fff;
  opacity: 40%;
}

.sub-nav .nav-item {
  margin-left: 2.625em;
}
.sub-nav .nav-link {
  font-size: 13px;
}

.nav-item .active {
  opacity: 100%;
}

.brand-highlight {
  color: var(--clr-primary);
}

.hero-content {
  display: flex;
  justify-content: space-between;
}

.hero-leftside {
  display: flex;
  flex-direction: column;
  width: 37.5rem;
  justify-content: space-around;
}

.hero-leftside > * {
  color: var(--clr-light);
}

.hero-leftside h1 {
  font-size: 3.5rem;
  line-height: 1.345em;
  font-weight: 700;
}

.hero-leftside p {
  font-size: 1.25rem;
  line-height: 1.6em;
}

.btn {
  height: 3rem;
  width: 8.75rem;
  color: var(--clr-light);
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-right: 1.25rem;
  /* font-weight: 700; */
}

.btn-primary {
  background: var(--clr-primary);
}

.btn-secondary {
  background: transparent;
  border: 1px solid var(--clr-light);
}

.hero-rightside {
  background: pink;
  background: url(./images/img.png);
  height: 540px;
  width: 440px;
  border-radius: 24px;
  background-position: top;
}

img.rightside-corner {
  height: 256px;
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
}
